.app {
  background-color: #111;
}

.toosmallscreen {
  display: none;
}

@media screen and (max-width: 550px) {
  .main_content {
    display: none;
  }

  .toosmallscreen {
    display: flex;
  }
}

@media screen and (max-height: 600px) {
  .main_content {
    display: none;
  }

  .toosmallscreen {
    display: flex;
  }
}
